<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Title of the document</title>
    <!-- Material Icon CDN -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS CDN -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Your custom styles -->
      <link rel="stylesheet" href="../css/custom.css">
    <!-- Used as an example only to position the footer at the end of the page.
    You can delete these styles or move it to your custom css file -->
  </head>

  <body>

    <!-- Navbar goes here -->
    <nav class="transparent">
        <div class="nav-wrapper">
          <a href="/register" class="brand-logo">
              <i class="large material-icons">account_circle</i>
          </a>
          <span class="logged">Você não está logado.</span>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/"><b>Inicio</b></a></li>
            <li><a href="/aboutus"><b>Sobre</b></a></li>
            <li><a href="/contactus"><b>Contato</b></a></li>
          </ul>
        </div>
    </nav>

    <!-- Page Layout here -->
    <div class="row">

     <div class="center">
        <h3 class="white-text">
        <b>Contato</b>
        </h3>
     </div>

     <div class="center">
       <p class="white-text">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit convallis elit, vel euismod est semper at. Vivamus non velit nunc. Proin varius justo vel neque efficitur, quis varius urna iaculis. Nam vitae sem ex. Vestibulum in est sem. Suspendisse mattis faucibus dictum. Nam pharetra nec elit eu ullamcorper.
       Duis et nibh a tellus varius placerat. Morbi ut feugiat dui, eget auctor felis. Proin vitae ullamcorper magna, sed imperdiet enim. Morbi a ante sit amet odio scelerisque blandit. Vestibulum vel metus est. Donec non massa id est consectetur tempor in at velit. Vestibulum auctor auctor vulputate. Quisque sagittis et nisi nec interdum.
       Nunc quis nibh non odio ornare malesuada id sit amet massa. Donec felis ex, aliquam nec nunc eu, cursus feugiat ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec eget odio nisi. Aenean porttitor molestie velit vitae condimentum. Proin aliquet rhoncus lorem nec interdum. Sed at efficitur lectus. Maecenas ultrices, augue eget rutrum vehicula, lorem erat venenatis felis, elementum congue ex nunc sed magna. Proin sagittis ipsum et nibh vulputate, sit amet vehicula massa facilisis. Nulla consequat sem nec nunc tempor, eget sagittis tortor dapibus. Etiam arcu libero, volutpat a finibus vitae, maximus ullamcorper lectus. Nulla vehicula semper scelerisque. Vestibulum sollicitudin euismod enim, sodales lobortis purus pharetra vel. Curabitur et est viverra nibh lobortis sagittis et at tellus. Maecenas tincidunt turpis enim, sed mattis est faucibus sit amet. Donec varius tempor iaculis.
       </p>
     </div>

     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d384.03933926636074!2d-46.55276829830326!3d-23.68959665948732!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8ea5ff4781c1b9ff!2sAnchieta%20Servi%C3%A7os%20Educacionais!5e0!3m2!1spt-BR!2sbr!4v1573927492462!5m2!1spt-BR!2sbr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

    </div>

    <footer class="transparent page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <br>
              <h5 class="white-text"><b>ODIN TECNOLOGIA</b></h5>
              <p class="grey-text text-lighten-4">Transformando seu negócio com o poder dos <b>deuses</b>!</p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2019 ODIN TECNOLOGIA
          <a class="grey-text text-lighten-4 right" href="#!">Mais</a>
          </div>
        </div>
      </footer>


    <!-- jQuery CDN -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Materialize JS CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>

    </script>
  </body>
</html>
